/*LISTA*/
ul{
    /*list-style-image: url("../img/verificacao.jpg")*/
    list-style-type: circle /*, square, disc*/;
    list-style-position: inside /*outside*/;

    margin: 0;
    padding: 10px;

    background: #59e;
}
ol{
    list-style-type: upper-alpha /*lower-alpha, upper-roman, lower-roman*/;
    list-style-position: inside /*outside*/;

    margin: 0;
    padding: 10px;

    background: #f3e;
}
li{
    background: yellow;
    border: 2px solid;
    
    padding: 5px;
    margin: 10px;
}

/*link dentro da lista*/
a{
    text-decoration: none;
}
ul a li{
    color: darkblue;
    background: darkgrey;
    border: solid 4px red;
    border-radius: 10px;
    padding: 10px;
}
ul a li:hover{
    color: red;
    background: black;
    border-radius: 20rem;
    padding: 20px;
}
ul a li:active{
    color: black;
    background: white;
}