.btn{
    display: inline-block;
    padding: 20px;
    background-color: rgb(165, 165, 251);
    color: #fff;
    font-size: 30px;
    border-radius: 10px;
    
    /* transition-property: background-color, padding;
    transition-duration:     500ms,          1s   ;
    transition-delay: 100ms, 500ms;
    transition-timing-function: ease-in-out; */
    
    /*          propriedade       duration  delay   timing-function  propriedade  duration  delay  timing-function*/
    transition: background-color  500ms     100msx    ease-in-out,     padding       1s     500ms        ease;
}
.btn:hover{
    background-color: blue;
    padding: 20px 40px;
}